
.app {
    display: grid;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    height: 100%;

    & > * {
        border-radius: 20px;

        &:hover {
            border-width: 2px;
        }
    }

    header {
        grid-area: header;
    }
    
    .left-side-bar {
        grid-area: left;
        display: flex;
        flex-direction: column;
        // min-width: 264px;
        min-width: 500px;
        background-color: $bg-base;

        .main-controlls {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin: 20px 20px;

            .create-button {

                & .minimized-bar {
                    aspect-ratio: 1;
                }

                .create-playlist-icon {
                    fill: $text-subdued;
                    width: 20px;
                    transition: 0.2s ease-in-out;

                    
                }
                
                .clicked {
                    transform: rotate(45deg);
                    transition: 0.2s ease-in-out;
                    fill: $text-base;
                }
            }
        }
    }

    main {
        grid-area: main;
    }

    .right-side-bar {
        grid-area: right;
        display: $hidden;
    }

    footer {
        grid-area: footer;
    }

    h1 {
        margin: 0;
    }
}
