
.app {
    display: grid;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 8px;
    height: 100%;

    & > * {
        background-color: $bg-base;
        border-radius: 8px;

        &:hover {
            border-width: 2px;
        }
    }

    header {
        grid-area: header;
    }
    
    .left-side-bar {
        grid-area: left;
        width: 280px;
        display: flex;
        flex-direction: column;
        min-width: 264px;
        background-color: $bg-base;

        > * {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin: 5px 20px;
        }

        .main-controlls {
            
            .create-button {

                & .minimized-bar {
                    aspect-ratio: 1;
                }
            }
        }

        .tag-controlls {

            button {
                display: flex;
                margin: 0;
            }
        }

        .filter-controlls {
            display: flex;
            justify-content: space-between;
            
            height: 40px;
            gap: 0;

            .view-control-button-section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0 !important;
                cursor: pointer;

                &:hover {
                    cursor: pointer;
                }

            }
        }
    }

    main {
        grid-area: main;
    }

    .right-side-bar {
        grid-area: right;
        display: $hidden;
    }

    footer {
        grid-area: footer;
    }

    h1 {
        margin: 0;
    }
}
