.app-header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    padding: 8px;
    max-height: 64px;

    border-radius: 0;
    border: 0px;
    background-color: black;

    >.icon {
        margin-inline-start: 20px;
        height: 32px;
        aspect-ratio: 1/1;
        filter: brightness(0) invert(1);
    }

    >.nav-options {
        justify-content: center;
        display: flex;
        gap: 8px;
        width: 100%;
        height: 100%;

        .home-btn {
            height: 100%;
            transition: transform 0.1s ease-in-out;
            will-change: transform;

            @include scale-on-hover(1.05);
            @include scale-on-press(1);
        }

        .search-options {
            display: flex;
            position: relative;
            align-items: center;
            max-width: 475px;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: $bg-elevated-base;
            border-radius: 500px;

            transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

            &:hover {
                background-color: $bg-elevated-hl;
                box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .1);

                .search-btn {
                    background-color: $bg-elevated-hl;

                    svg {
                        color: $text-base;
                    }
                }
            }

            //psuedo-element for animation when .focused is removed from .search-options
            &::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                border-radius: 500px;
                border: 2px solid white;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
            }

            &.focused::after {
                opacity: 1;
            }

            * {
                background-color: transparent;
            }

            .search-btn {
                padding-inline-start: 10px;
                padding-block-start: 2px;

                svg {
                    color: $text-subdued;
                    transition: color 0.3s;
                }
            }

            .search-input {
                font-size: 1rem;
                min-width: 0;
                width: 0;
                height: 100%;
                padding-inline-start: 5px;
                padding-block-start: 0px;
                flex-grow: 1;
                color: $text-base;
                border: 0;
                text-overflow: ellipsis;
                

                &:focus-visible {
                    outline: none;
                }
            }

            .browse-btn {
                margin-inline-end: 12px;
                margin-block-start: 2px;
                padding-inline: 0;

                &::before {
                    content: "";
                    display: inline-block;
                    background-color: $text-subdued;
                    width: 1px;
                    height: 60%;
                    margin-inline-end: 12px;
                }
            }
        }
    }

    >.profile {
        background-color: $bg-elevated-base;
        border-radius: 50%;
        height: 48px;
        aspect-ratio: 1/1;
        justify-self: center;
    }
}