.station-page {
    color: white;
    line-height: normal;
    user-select: none;
    overflow-y: scroll;
    // font-family: "SpotifyUiMix", sans-serif;


    .content-spacing {
        padding-inline: 3.4375em;
    }

    .station-header-bg {
        padding: $content-padding $content-padding $content-padding 3.4375em;
        border-radius: 8px;
    }

    .station-header {
        display: flex;
        gap: 20px;
        align-items: center;

        .station-image {
            width: 250px;
            height: 250px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
            position: relative;
        }

        .station-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .station-image .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .station-image:hover .overlay {
            opacity: 1;
        }

        .station-image .overlay svg {
            width: em(48px);
            height: em(48px);
            fill: #ffff;
        }

        .station-image .overlay p {
            font-size: 1em;
        }

        .station-details {
            .station-type {
                font-size: 16px;
                font-weight: normal;
                color: #fff;
            }

            .station-name {
                font-size: 96px;
                color: #fff;
                font-weight: 700;
                line-height: normal;
            }

            .station-description {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
            }

            .station-info {
                display: flex;
                gap: 10px;
                font-size: 0.9em;
                color: #bbb;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .top-bar {
        height: 64px;
    }

}