.station-list {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &>a {
        color: $text-base;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        margin-inline-start: 12px;
        white-space: nowrap;
    }

    >.station-previews {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($station-width, 1fr));
        grid-auto-flow: column;
    }
}
