.dropdown-container {
    position: relative;
    display: inline-block;
    overflow: visible;

    .dropdown-btn {
        background-color: transparent;
        color: $text-subdued;
        border: none;
        cursor: pointer;
        padding: em(8px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s ease;

        &:hover {
            color: #fff;
        }

        .dropdown-icon {
            width: em(30px);
            height: em(30px);
        }
    }


    .dropdown-menu {
        position: absolute;
        z-index: 9999;
        top: 100%;
        right: 0;
        background-color: #333;
        border-radius: em(8px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        padding: 4px;
        margin: 0;
        width: max-content;

        .dropdown-item {
            display: flex;
            padding: 12px 8px 12px 12px;
            gap: em(12px);
            color: addTransparency(#ffffff, 90%);
            font-size: em(14px);
            cursor: pointer;
            transition: background-color 0.2s ease;
            text-decoration: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:not(:last-child) {
                border-bottom: 1px solid #444;
            }

            svg {
                width: em(20px);
                height: em(20px);
                fill: $text-subdued;
            }
        }
    }
}