.station-preview {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: $bg-base;
    border-radius: 6px;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        background-color: $bg-hl;

        .play-btn {
            bottom: 0;
            opacity: 1;
            box-shadow: 0 4px 8px addTransparency(black, 0.4);
        }
    }

    .play-btn {
        position: absolute;
        bottom: remCalc(-11px);
        right: 0;
        margin: 0 8px 8px 0;
        width: remCalc(44px);
        opacity: 0;
        transition: bottom 0.2s ease-out, opacity 0.2s ease-out;
    }

    >div {
        position: relative;
    }

    img {
        border-radius: 6px;
    }

    >.long-txt {
        color: $text-subdued;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        white-space: normal;
        overflow-wrap: normal;
        line-height: normal;
    }
}