.station-list {
    &>a {
        color: $text-base;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        margin-inline-start: 12px;

        &:hover {
            text-decoration: underline;
        }
    }

    >.station-previews {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
}
