.station-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background-color: $bg-base;
    border-radius: 6px;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        background-color: $bg-hl;
    }

    &>img {
        border-radius: 6px;
        min-width: 175px;
    }

    &>.long-txt {
        color: $text-subdued;
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        white-space: normal;
        overflow-wrap: normal;
        line-height: normal;
    }
}

