.app-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    padding-top: 8px;

    .player-controls {
        grid-column: 2;

        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-items: center;

        &.inert {
            opacity: 0.3;
            cursor: not-allowed;
            user-select: none;

            * {
                pointer-events: none !important;
                user-select: none;
            }
        }

        .player-buttons {
            display: flex;
            gap: 16px;
        }

        .player-controls-btn {
            background-color: transparent;
            padding: 0 0.5rem;
            @include scale-on-hover();
            @include scale-on-press(1);
            @include color-descendant-svg-on-hover($text-base);
            @include color-descendant-svg-on-press($text-subdued);

            svg {
                width: 16px;
                aspect-ratio: 1/1;
                color: $text-subdued;
            }
        }

        .play-btn {
            width: 32px;
            background-color: $text-base;
            @include bg-color-on-hover($text-subdued);

            svg {
                width: 20px;
                aspect-ratio: 1/1;
            }
        }
    }

    .volume-bar {
        grid-column: 3;
        justify-self: end;
        align-self: center;

        align-items: center;
        margin-inline-end: 38px;
        margin-block-end: 7px;

    }
}