.app-header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    padding: 8px 8px 0;
    max-height: 64px;

    border-radius: 0;
    border: 0px;
    background-color: black;

    >.icon {
        margin-inline-start: 20px;
        height: 32px;
        aspect-ratio: 1/1;
        filter: brightness(0) invert(1);
    }

    >.nav-options {
        justify-content: center;
        display: flex;
        gap: 8px;
        width: 100%;
        height: 100%;

        .nav-btn {
            @include scale-on-hover(1.05);
            @include scale-on-press(1);

            &.pressed {
                color: $text-base;
            }

            &:hover {
                color: $text-base;
            }

            &:active {
                color: $text-subdued;
            }

            svg {
                width: 24px;
            }
        }

        .home-btn {
            height: 100%;
        }

        .search-options {
            display: flex;
            position: relative;
            align-items: center;
            max-width: 475px;
            padding: 2px 2px 0 2px;
            flex-grow: 1;
            flex-shrink: 1;
            background-color: $bg-elevated-base;
            border-radius: 500px;

            transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;

            &:hover {
                background-color: $bg-elevated-hl;
                box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .1);

                .search-btn {
                    background-color: $bg-elevated-hl;

                    svg {
                        width: 24px;
                        color: $text-base;
                    }
                }
            }

            //psuedo-element for animation when .focused is removed from .search-options
            &::after {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                border-radius: 500px;
                border: 2px solid white;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease-in-out;
            }

            &.focused::after {
                opacity: 1;
            }

            * {
                background-color: transparent;
            }
            
            .search-bar {
                flex-grow: 1;
                margin-inline-start: 8px;     
                
                display: flex;
                align-items: center;
                gap: 8px;
                
                .search-btn {
                    svg {
                        width: 24px;
                        color: $text-subdued;
                        transition: color 0.3s;
                    }
                }

                input {
                    margin: 0;
                    padding: 0;
                    font-size: 1rem;
                    color: $text-base;
                    border: 0;
                    text-overflow: ellipsis;
                    font-family: sans-serif;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .clear-btn {
                padding-block-start: 4px;
                padding-inline-end: 12px;
                @include color-descendant-svg-on-hover($text-base);

                svg {
                    width: 24px;
                    aspect-ratio: 1;
                }
            }

            .vert-bar {
                width: 1px;
                height: 60%;
                background-color: $text-subdued;
            }

            .browse-btn {
                margin-inline-end: 8px;
                margin-block-start: 2px;
            }

        }
    }

    >.profile {
        justify-self: end;
        height: 48px;
        aspect-ratio: 1;

        background-color: $bg-elevated-base;
        border-radius: 50%;

        svg {
            margin: 8px;
            padding: 2px;
        }
    }
}