.left-side-bar {
    grid-area: left;
    min-width: fit-content;
    background-color: $bg-base;
    overflow: scroll;
    margin-inline-start: 8px;

    &.left-side-bar-expanded {
        width: 280px;
    }

    &.left-side-bar-collapsed {
        width: min-content;
        padding: 4px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 8px;
        margin-left: auto;
        transition-duration: $button-transition-duration;

        &:hover {
            transition-duration: $button-transition-duration;
        }

        &:active {
            background-color: $bg-tinted-press;
        }

    }

    >* {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-controlls {
        justify-content: flex-start;
        margin: 0;
        position: sticky;
        top: 0;
        background-color: $bg-base;

        &>* {
            margin: 15px;
        }

        &.main-controlls-row {
            flex-direction: row;
        }

        &.main-controlls-column {
            flex-direction: column;
        }

        .icon-content {
            width: 24px;

            &:not(.minimized) {
                width: 16px;
            }

            aspect-ratio: 1;
            transition: all 0.2s ease;
            cursor: pointer;

            &.icon-content-show:not(.minimized) {
                transform: translateX(8px);
                opacity: 1;
                pointer-events: all;
            }

            &.icon-content-hidden:not(.minimized) {
                transform: translateX(-16px);
                opacity: 0;
                pointer-events: none;
            }
        }

        h1 {
            margin: -4px 4px 0 -16px;
            font-size: medium;
            color: $text-base;
            transition: all 0.2s ease 0.05s;

            &:hover {
                cursor: pointer;
            }

            &.slide-in {
                transform: translateX(24px);
            }

            &.slide-out {
                transform: translateX(-16px);
            }
        }

        .create-button {
            color: $text-base;
            font-weight: 700;
            margin-left: auto;

            &.create-button-mini {
                margin: auto;
                margin-block-end: 8px;
            }

            &.create-button-max {
                margin-left: auto;
            }

            & .minimized-bar {
                aspect-ratio: 1;
            }
        }
    }

    .tag-controlls {

        &>* {
            margin: 10px;
        }
    }

    .filter-controlls {
        justify-content: space-between;

        &>* {
            margin: 10px;
        }

        .view-control-button-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 !important;
            cursor: pointer;

            &:hover {
                cursor: pointer;
                transform: scale(1.04);
                transition-duration: 50ms;

                .list-button {
                    color: $text-base;
                    font-weight: bold;
                }

                .list-button-icon {
                    color: $text-base;
                }
            }

        }
    }

    .no-user-stations {
        flex-grow: 1;

        h1 {
            margin: auto;
            padding-bottom: 100px;
            color: $text-base;
        }
    }

    .library-stations {
        display: flex;
        flex-direction: column;
        user-select: none;
        overflow: scroll;
        overflow-x: hidden;
        max-width: 420px;

        .station-item {
            display: grid;
            grid-template: 1fr 1fr / 1fr 3fr;
            grid-template-areas:
                "pic track-name"
                "pic track-artist";
            width: calc(100% - 10px);
            padding: 8px;

            &:hover {
                background-color: $bg-hl;
                border-radius: 5px;
                cursor: pointer;
            }

            &.selected-station {
                background-color: $bg-tinted-hl;
                border-radius: 8px;
                cursor: pointer;
            }

            &.minimized {
                grid-template: none;
                grid-template-areas: none;
                width: 64px;
                aspect-ratio: 1;
            }

            .lib-station-image {
                grid-area: pic;
                border-radius: 5px;
                width: 48px;
                aspect-ratio: 1;
                object-fit: cover;
            }

            .lib-station-name {
                grid-area: track-name;
                margin-bottom: -3px;
                color: $text-base;
                font-size: remCalc(16px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.active {
                    color: $green-base;
                }
            }

            .lib-station-artist {
                grid-area: track-artist;
                margin-top: -3px;
                color: $text-subdued;
                font-size: remCalc(14px);
            }
        }
    }
}