@use "../mixins" as mixins;

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: remCalc(56px);
    aspect-ratio: 1/1;
    background-color: $green-base;
    transition: background-color 0.3s;
    
    @include mixins.scale-on-hover(1.05);
    &:hover {
        background-color: $green-hl;
    }

    @include mixins.scale-on-press(1);
    &:active {
        background-color: $green-press;
    }

    svg {
        @include mixins.prevent-scale-on-hover(1.05);
        color: black;
        width: remCalc(24px);
        aspect-ratio: 1/1;
    }
}