.station-track-search {
    padding-block: $content-padding;
    margin-top: 24px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    color: $text-subdued;

    .search {

        h2 {
            color: #fff;
            margin-bottom: 16px;
            font-size: 24px;
            font-weight: 700;
            font-family: 'CircularSpotifyText';
        }

        .search-bar {
            position: relative;
            display: flex;
            gap: 4px;
            align-items: center;
            background-color: $bg-tinted-base;
            padding: 8px;
            border-radius: 4px;
            text-overflow: ellipsis;
            height: 40px;
            border: 0px;
            width: 100%;
            max-width: 450px;
            transition: border-color 0.2s ease;

            input {
                flex: 1;
                min-width: 0;
                background: transparent;
                border: none;
                outline: none;
                color: $text-subdued;
                font: bold 14px sans-serif;

                &::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    appearance: none;
                    display: none;
                }
            }
            
            button {
                width: 16px;
                aspect-ratio: 1;
                background-color: transparent;
                padding: 0;
            }

            .search-btn {
                cursor: text;
                background-color: transparent;

                svg {
                    fill: rgba(255, 255, 255, 0.6);
                }
            }

            &:focus-within {
                border-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .no-results {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.5rem;

        p {
            font-size: 14px;
        }
    }
}