@use "../setup/variables" as *;

.app {
    display: grid;
    grid-template-areas: 
    "header header header"
    "left main right"
    "footer footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 8px;
    height: 100%;

    & > * {
        background-color: $bg-base;
        border-radius: 8px;

        &:hover {
            border-width: 2px;
        }
    }

    * {

        &::-webkit-scrollbar {
            background-color: transparent;
        }

        &:hover::-webkit-scrollbar-thumb {
            background-color: rgba(179, 179, 179, .3);

            &:hover {
                background-color: rgba(179, 179, 179, 1);
            }
        }
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    .right-side-bar {
        grid-area: right;
        display: $hidden;
    }

    footer {
        grid-area: footer;
    }

    h1 {
        margin: 0;
    }
}
