* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

html {
    line-height: 1.6;
    color: $text-subdued;
}

body {

    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: remCalc(18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 0 0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    border: 0;
    padding: 7px 15px;
    background-color: $bg-tinted-base;
    color: $text-base;
    margin-left: auto;
    transition-duration: $button-transition-duration;

    &:hover {
        background-color: $bg-tinted-hl;
        cursor: pointer;
        transition-duration: $button-transition-duration;
    }

    &:active {
        background-color: $bg-tinted-press;
    }

}

.primary-button {
    font-weight: bold;
}