* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

html {
    line-height: 1.6;
    color: $text-subdued;
}

body {

    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;

    font-family: "spotify-regular", "spotify-bold", "spotify-title", sans-serif, systme-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0 0em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 0 0em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

button {
    border-radius: 100px;
    border: 0;
    background-color: $bg-elevated-base;
    color: $text-subdued;

    &:hover {
        background-color: $bg-elevated-hl;
        cursor: pointer;
    }

    svg {
        pointer-events: none;
    }
}

.primary-button {
    font-weight: bold;
}