@font-face {
    font-family: "CircularSpotifyText";
    src: url("/fonts/CircularSpotifyText-Book.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "CircularSpotifyTextBold";
    src: url("/fonts/CircularSpotifyText-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "SpotifyMixUI";
    src: url("/fonts/SpotifyMixUI.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpotifyMixUI";
    src: url("/fonts/SpotifyMixUIBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
