@font-face {
    font-family: uibold;
    src: url('/fonts/Bold.ttf') format('truetype')
}

@font-face {
    font-family: regular;
    src: url('fonts/Regular.ttf') format('truetype')
}

@font-face {
    font-family: title;
    src: url('fonts/Title.ttf') format('truetype')
}