@font-face {
    font-family: 'spotify-bold';
    src: url('/fonts/bold.ttf') format('truetype')
}

@font-face {
    font-family: 'spotify-regular';
    src: url('fonts/regular.ttf') format('truetype')
}

@font-face {
    font-family: 'spotify-title ';
    src: url('fonts/title.ttf') format('truetype')
}